@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --text-cool: hsl(238, 29%, 16%);
    --text-warm: hsl(14, 88%, 65%);
    --gradient-warm: hsl(273, 75%, 66%);
    --gradient-cool: hsl(240, 73%, 65%);
    --text-neutral: hsl(237, 12%, 33%);
    --text-neutral-dark: hsl(240, 6%, 50%);
    --divider: hsl(240, 5%, 91%);
}

* { padding: 0; margin: 0; }
html, body { width: 100%; height: 100%; font-size: 10px; }
body { 
    background: linear-gradient(var(--gradient-warm), var(--gradient-cool));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}
main input[type=radio] { display: none; }
main input[type=radio]:checked ~ label { 
    font-weight: bold; 
    color: var(--text-cool);
}
main input[type=radio]:checked ~ p { display: block; }
main input[type=radio] ~ p { display: none; }
main { 
    display: block; 
    width: 92rem;
    height: 50.8rem;
    background-color: white;
    border-radius: 2rem;
    box-sizing: border-box;
    position: relative;
    padding: 5rem 10rem 5rem 47.5rem;
}

main::before {
    display: block;
    content: '';
    background-image: 
        url('../images/illustration-woman-online-desktop.svg'),
        url('../images/bg-pattern-desktop.svg');
    height: 100%;
    position: absolute;
    width: calc(50% - 7.3rem);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 100% 46%, 100% 63%;
}

main::after {
    display: block;
    content: '';
    background-image: url('../images/illustration-box-desktop.svg');
    height: 100%;
    position: absolute;
    width: 20rem;
    top: 4.05rem;
    left: -9.3rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

h1 { 
    font-size: 3.2rem;
    margin-top: 1.8rem;
    margin-bottom: 2.3rem;
    color: var(--text-cool);
}

.question {
    font-size: 1.4rem;
    border-bottom: 0.1rem solid var(--divider);
    color: var(--text-cool);
}

label {
    color: var(--text-neutral-dark);
    padding: 1.74rem 0;
    cursor: pointer;
    display: block;
}

.question p {
    margin: -0.5rem 0 1.5rem 0;
    padding-right: 1rem;
    color: var(--text-neutral);
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.faq {
    overflow-y: auto;
    max-height: 36rem;
}

main input[type=radio] ~ label:after {
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center right;
    float: right;
}

main input[type=radio]:checked ~ label:after {
    transform: rotate(180deg);
}

main input[type=radio]:not(:checked) ~ label:hover {
    color: var(--text-warm);
}

@media screen and (max-width: 1023px) {
    body {
        align-items: flex-start;
    }

    main {
        margin: 2.5rem;
        margin-top: 15rem;
        padding: 2.2rem;
        padding-bottom: 4.6rem;
        padding-top: 12rem;
        min-width: 30rem;
        height: auto;
    }

    main::before {
        width: 74%;
        height: 24rem;
        top: -14.1rem;
        left: 12.5%;
        min-width: 20rem;
        background-size: contain;
        background-position: center;
    }

    main::after {
        width: 75%;
        min-width: 20rem;
        height: clamp(8.9rem, 20vw, 12rem);
        top: -4.4rem;
        left: calc(12.5% -  clamp(7.6rem, 20vw, 10rem));
        background-size: contain;
        background-position: center;
    }

    h1 { text-align: center; margin-bottom: 1.8rem; }

    label { font-size: 1.3rem; padding: 1.88rem 0; }
    
}